@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Tinhtong">
    <label>Tinh tong</label>
    <input type="text" name="Tinh tong">
    <input type="submit" value="Tinh">
</form>
<h1>Tong cac chu so = @ViewBag.ThongbaoTinhtong</h1>